.game-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto;
}

.gamecard-component {
  margin: auto;
  width: 80%;
}

.single-card-container {
  height: 120px;
  width: 100px; 
  margin: auto;
}

.card-img {
  width: 100px;
}

.card-overlay {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 120px;
  background: rgba(150, 150, 150, 1);
}